<html>
<head>
	{% block head %}
        {% block title %}<title>Hi</title>{% endblock %}
    	<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block meta_description %}<meta name="description" content="">{% endblock %}
        {% block meta_author %}<meta name="author" content="">{% endblock %}

        {% block styles %}
            <link href="../assets/css/bootstrap.css" rel="stylesheet">
            <link href="../assets/css/business-casual.css" rel="stylesheet">
        {% endblock %}
    {% endblock %}
</head>
<body>
	<div class="brand">Daily Checkvist</div>
    <div class="address-bar">Create your daily checkvist!</div>
    {% block nav_menu %}
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="row">
                    <div class="col-md-4"><h3>What is this?</h3></div>
                    <div class="col-md-8"><h3 style="text-transform: none;"><small style="color: #444;"><a href="http://checkvist.com" alt="Checkvist.com" target="_blank">Checkvist</a> is a great checklist app. It's got a ton of awesome features and you should check it out. <b>What it doesn't have is a daily checklist feature where the title of the list is the current date</b>. Since I love checvist, I built the feature.</small></h3></div>
                </div>
            </div><!-- /.container -->
        </nav>
    {% endblock %}

    <div class="container">
    {% block content %}
        <div class="row">
            <div class="box">
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-full" src="../assets/img/slide-1.jpg" >
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Build a website <strong>worth visiting</strong></h2>
                    <hr>
                    <img class="img-responsive img-border img-left" src="../assets/img/intro-pic.jpg">
                    <hr class="visible-xs">
                    <p>The boxes used in this template are nested inbetween a normal Bootstrap row and the start of your column layout. The boxes will be full-width boxes, so if you want to make them smaller then you will need to customize.</p>
                    <p>A huge thanks to <a href="http://join.deathtothestockphoto.com/" target="_blank">Death to the Stock Photo</a> for allowing us to use the beautiful photos that make this template really come to life. When using this template, make sure your photos are decent. Also make sure that the file size on your photos is kept to a minumum to keep load times to a minimum.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                </div>
            </div>
        </div>        
    {% endblock %}
    </div><!-- /.container -->        

    {% block footer %}    
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <p>Made by <a href="http://karnajani.com"> Karna Jani</a>. Fork me on github</p>
                    </div>
                </div>
            </div>
        </footer>
    {% endblock %}

    {% block scripts %}
        <!-- JavaScript -->
        <script src="../assets/js/jquery-1.10.2.js"></script>
        <script src="../assets/js/bootstrap.js"></script>
        <script type="text/javascript">var checkvist_api_url = 'https://checkvist.com';</script>
    {% endblock %}
</body>
</html>