{% extends 'base.twig' %}

{% block content %}
    <div class="row">
        <div class="box">
            <div class="row">
                {{ form_start(form, {'attr': {'class': 'form-horizontal col-sm-8 col-sm-offset-2', "role": "form" }}) }}
                	<div class="form-group">
                		{{ form_label(form.username, 'Email', { 'label_attr': {'class': 'control-label col-sm-2' } } ) }}
                		<div class="col-sm-6">
                			{{ form_errors(form.username) }}
                			{{ form_widget(form.username) }}
                		</div>
                	</div>

                	<div class="form-group">
                		{{ form_label(form.api_key, 'API Key', { 'label_attr': {'class': 'control-label col-sm-2' } } ) }}
                		<div class="col-sm-6">
                			{{ form_errors(form.api_key) }}
                			{{ form_widget(form.api_key) }}
                			<p class="help-block" style="font-size: 1em"><a href="#">Where do I find my API key?</a></p>
                			<div id="check-api">
                				<div class="alert alert-danger" id="check-api-error" style="display:none"></div>
                				<button class="btn btn-primary" id="check-api-btn">Check Credentials</button>
                				<img src="../assets/img/ajax-loader.gif" id="check-api-loader" style="display:none">
                			</div>
                		</div>
                    </div>

                    <div id="checkvist-related" style="display: none">
                        <div class="form-group">
                            {{ form_label(form.date_format, 'Date Format', { 'label_attr': {'class': 'control-label col-sm-2' } } ) }}
                            <div class="col-sm-6">
                                {{ form_errors(form.date_format) }}
                                {{ form_widget(form.date_format) }}
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form_label(form.timezone, 'Timezone', { 'label_attr': {'class': 'control-label col-sm-2' } } ) }}
                            <div class="col-sm-6">
                                {{ form_errors(form.timezone) }}
                                {{ form_widget(form.timezone) }}
                                <p class="help-block" style="font-size: 0.9em">Your list name will be updated every day 12:01am.</p>
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form_label(form.list_type, 'List Type', { 'label_attr': {'class': 'control-label col-sm-2' } } ) }}
                            <div class="col-sm-6">
                                {{ form_errors(form.list_type) }}
                                {% for child in form.list_type %}
                                    <div style="width: 100%">
                                        {{ form_widget(child) }} {{ form_label(child) }}
                                    </div>
                                {% endfor %}

                                <div id="user-lists">
                                    <div class="alert alert-danger" id="user-lists-error" style="display:none"></div>
                                    <img src="../assets/img/ajax-loader.gif" id="user-lists-loader" style="display:none">
                                </div>
                            </div>
                        </div>

                        <div class="form-group" id="existing-lists" style="display: none">
                            {{ form_label(form.existing_lists, 'Existing Lists', { 'label_attr': {'class': 'control-label col-sm-2' } } ) }}
                            <div class="col-sm-6">
                                {{ form_errors(form.existing_lists) }}
                                {{ form_widget(form.existing_lists) }}
                            </div>
                        </div>

                    	
                        <div class="form-group">
                    		<div class="col-sm-offset-2 col-sm-10">
                    			<input type="submit" name="Make me a dailycheckvist" class="btn btn-default">
                                <button id="reset-btn" class="btn btn-info">Reset</button>
                    		</div>
                    	</div>
                    </div>


                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
	{{ parent() }}
    <script type="text/javascript" src="../assets/js/form.js"></script>
{% endblock %}